.mainShell{
    background: url("/assets/images/skyTrain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:800px;
    
    
}

.mainBox{
    background-color:rgba(18, 216, 206, 0.833);
}